# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

# VS Code debug profiles
.vscode/chrome-debug-profile/

# Environment variables
.env.local
.env.*.local
.env.development
.env.development.local
.env.test.local
.env.production.local
.env.production
.env
# Keep .env and .env.example (for defaults/templates)

npm-debug.log*
yarn-debug.log*
yarn-error.log*


license

react-context-devtool

node_modules/
*storybook.log
storybook-static


database-objects/SuperApp-dev/obj