/* Keyword Highlighting Styles */

.keyword-hashtag {
    color: #fad000 !important;
    font-weight: 500 !important;
}

.keyword-status {
    color: #6496c8 !important;
    font-weight: 500 !important;
}

.keyword-keyword {
    color: #C586C0 !important;
    font-weight: 500 !important;
}

.keyword-class {
    color: #4EC9B0 !important;
    font-weight: 500 !important;
}

.keyword-type {
    color: #569CD6 !important;
    font-weight: 500 !important;
}

.keyword-comment {
    color: #FFA500 !important;
    font-weight: 500 !important;
}
