USE [SuperApp-dev]
GO
/****** Object:  Schema [auth]    Script Date: 3/12/2026 8:49:40 PM ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [kt]    Script Date: 3/12/2026 8:49:40 PM ******/
CREATE SCHEMA [kt]
GO
/****** Object:  Schema [kws]    Script Date: 3/12/2026 8:49:40 PM ******/
CREATE SCHEMA [kws]
GO
/****** Object:  Schema [log]    Script Date: 3/12/2026 8:49:40 PM ******/
CREATE SCHEMA [log]
GO
/****** Object:  Schema [pro]    Script Date: 3/12/2026 8:49:40 PM ******/
CREATE SCHEMA [pro]
GO
/****** Object:  Schema [urm]    Script Date: 3/12/2026 8:49:40 PM ******/
CREATE SCHEMA [urm]
GO
/****** Object:  Schema [ws]    Script Date: 3/12/2026 8:49:40 PM ******/
CREATE SCHEMA [ws]
GO
/****** Object:  Table [auth].[refresh_tokens]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[refresh_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token_hash] [nvarchar](256) NOT NULL,
	[user_id] [int] NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[revoked_at] [datetime2](7) NULL,
	[replaced_by_token_hash] [nvarchar](256) NULL,
	[device_info] [nvarchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entity_hashtags]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entity_hashtags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [tinyint] NOT NULL,
	[entity_id] [int] NOT NULL,
	[hashtag_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_entity_hashtags_unique] UNIQUE NONCLUSTERED 
(
	[hashtag_id] ASC,
	[entity_type] ASC,
	[entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[files]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[url] [nvarchar](1000) NULL,
	[file_size] [bigint] NULL,
	[mime_type] [nvarchar](100) NULL,
	[extension] [nvarchar](20) NULL,
	[status_code] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[color] [varchar](20) NULL,
	[icon] [varchar](20) NULL,
	[google_drive_file_id] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hashtags]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hashtags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[usage_count] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_hashtags_user_name] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keywords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[TargetItemId] [int] NULL,
	[Link] [nvarchar](2000) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[HardDeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Keywords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Keywords_Link] UNIQUE NONCLUSTERED 
(
	[Link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notes]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[status_code] [nvarchar](50) NULL,
	[color] [varchar](20) NULL,
	[icon] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[standard_registries]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[standard_registries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime2](7) NULL,
	[code] [nvarchar](200) NOT NULL,
	[type] [nvarchar](200) NOT NULL,
	[json_detail] [nvarchar](max) NULL,
	[created_by] [nvarchar](255) NULL,
	[last_modified_by] [nvarchar](255) NULL,
	[last_modified_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_standard_registries_code_type] UNIQUE NONCLUSTERED 
(
	[code] ASC,
	[type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [kws].[folders]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kws].[folders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[color] [nvarchar](7) NULL,
	[icon] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
 CONSTRAINT [PK_kfolders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [kws].[workspace_items]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kws].[workspace_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[workspace_id] [int] NOT NULL,
	[parent_id] [int] NULL,
	[entity_type] [tinyint] NOT NULL,
	[entity_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[PathIds] [nvarchar](1000) NOT NULL,
	[PathDepth] [int] NOT NULL,
 CONSTRAINT [PK_kworkspace_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_kworkspace_items_unique] UNIQUE NONCLUSTERED 
(
	[workspace_id] ASC,
	[entity_type] ASC,
	[entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kws].[workspaces]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kws].[workspaces](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[status_code] [nvarchar](50) NULL,
 CONSTRAINT [PK_kworkspaces] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [log].[log]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [log].[log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[track_id] [int] NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[is_sensitive] [bit] NOT NULL,
	[location] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[deleted_at] [datetime2](7) NULL,
	[occur_at] [datetime2](7) NULL,
 CONSTRAINT [PK_log_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [log].[track]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [log].[track](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[emoji] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[is_sensitive] [bit] NOT NULL,
	[color] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[deleted_at] [datetime2](7) NULL,
 CONSTRAINT [PK_log_track] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [pro].[project]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pro].[project](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[deleted_at] [datetime2](3) NULL,
	[user_id] [int] NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[workspace_id] [int] NULL,
 CONSTRAINT [pk_project] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [pro].[TargetKeywords]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pro].[TargetKeywords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TargetId] [int] NOT NULL,
	[TargetType] [varchar](20) NOT NULL,
	[KeywordId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TargetKeywords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [pro].[task]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pro].[task](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[parent_task_id] [int] NULL,
	[type] [nvarchar](20) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[note] [nvarchar](max) NULL,
	[status] [nvarchar](20) NOT NULL,
	[priority] [nvarchar](20) NOT NULL,
	[start_date] [datetime2](3) NULL,
	[end_date] [datetime2](3) NULL,
	[order_index] [int] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[deleted_at] [datetime2](3) NULL,
	[FolderWorkspaceItemId] [int] NULL,
 CONSTRAINT [pk_task] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [pro].[TaskWorkspaceItem]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pro].[TaskWorkspaceItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[WorkspaceItemId] [int] NOT NULL,
	[ItemType] [int] NOT NULL,
 CONSTRAINT [PK_TaskWorkspaceItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [urm].[user_profiles]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [urm].[user_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[first_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[bio] [nvarchar](1000) NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[country] [nvarchar](100) NULL,
	[city] [nvarchar](100) NULL,
	[timezone] [nvarchar](50) NULL,
	[language] [nvarchar](10) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[filters] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [urm].[users]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [urm].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[password] [nvarchar](255) NOT NULL,
	[auth_type] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[google_access_token] [nvarchar](2048) NULL,
	[google_refresh_token] [nvarchar](512) NULL,
	[google_token_expires_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ws].[folders]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ws].[folders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[color] [nvarchar](7) NULL,
	[icon] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ws].[workspace_items]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ws].[workspace_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[workspace_id] [int] NOT NULL,
	[parent_id] [int] NULL,
	[entity_type] [tinyint] NOT NULL,
	[entity_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[PathIds] [nvarchar](1000) NOT NULL,
	[PathDepth] [int] NOT NULL,
 CONSTRAINT [PK_workspace_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_workspace_items_unique] UNIQUE NONCLUSTERED 
(
	[workspace_id] ASC,
	[entity_type] ASC,
	[entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ws].[workspaces]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ws].[workspaces](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[status_code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [auth].[refresh_tokens] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[entity_hashtags] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[files] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hashtags] ADD  DEFAULT ((0)) FOR [usage_count]
GO
ALTER TABLE [dbo].[hashtags] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Keywords] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[notes] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[standard_registries] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[standard_registries] ADD  DEFAULT (getutcdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[standard_registries] ADD  DEFAULT ('') FOR [code]
GO
ALTER TABLE [dbo].[standard_registries] ADD  DEFAULT ('') FOR [type]
GO
ALTER TABLE [kws].[folders] ADD  CONSTRAINT [DF_kfolders_color]  DEFAULT ('#F59E0B') FOR [color]
GO
ALTER TABLE [kws].[folders] ADD  CONSTRAINT [DF_kfolders_icon]  DEFAULT ('??') FOR [icon]
GO
ALTER TABLE [kws].[folders] ADD  CONSTRAINT [DF_kfolders_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [kws].[workspace_items] ADD  CONSTRAINT [DF_kwi_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [kws].[workspace_items] ADD  CONSTRAINT [DF_kwi_PathIds]  DEFAULT ('/') FOR [PathIds]
GO
ALTER TABLE [kws].[workspace_items] ADD  CONSTRAINT [DF_kwi_PathDepth]  DEFAULT ((0)) FOR [PathDepth]
GO
ALTER TABLE [kws].[workspaces] ADD  CONSTRAINT [DF_kworkspaces_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [log].[log] ADD  CONSTRAINT [DF_log_log_is_sensitive]  DEFAULT ((0)) FOR [is_sensitive]
GO
ALTER TABLE [log].[log] ADD  CONSTRAINT [DF_log_log_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [log].[log] ADD  CONSTRAINT [DF_log_log_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [log].[track] ADD  CONSTRAINT [DF_log_track_is_sensitive]  DEFAULT ((0)) FOR [is_sensitive]
GO
ALTER TABLE [log].[track] ADD  CONSTRAINT [DF_log_track_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [log].[track] ADD  CONSTRAINT [DF_log_track_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [pro].[project] ADD  CONSTRAINT [df_project_status]  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [pro].[project] ADD  CONSTRAINT [df_project_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [pro].[project] ADD  CONSTRAINT [df_project_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [pro].[TargetKeywords] ADD  CONSTRAINT [DF_TargetKeywords_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [pro].[task] ADD  CONSTRAINT [df_task_type]  DEFAULT ('task') FOR [type]
GO
ALTER TABLE [pro].[task] ADD  CONSTRAINT [df_task_status]  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [pro].[task] ADD  CONSTRAINT [df_task_priority]  DEFAULT ('low') FOR [priority]
GO
ALTER TABLE [pro].[task] ADD  CONSTRAINT [df_task_order_index]  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [pro].[task] ADD  CONSTRAINT [df_task_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [pro].[task] ADD  CONSTRAINT [df_task_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [urm].[user_profiles] ADD  DEFAULT ('UTC') FOR [timezone]
GO
ALTER TABLE [urm].[user_profiles] ADD  DEFAULT ('en') FOR [language]
GO
ALTER TABLE [urm].[user_profiles] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [urm].[users] ADD  DEFAULT ('local') FOR [auth_type]
GO
ALTER TABLE [urm].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [urm].[users] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [ws].[folders] ADD  DEFAULT ('#F59E0B') FOR [color]
GO
ALTER TABLE [ws].[folders] ADD  DEFAULT ('??') FOR [icon]
GO
ALTER TABLE [ws].[folders] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [ws].[workspace_items] ADD  CONSTRAINT [DF_workspace_items_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [ws].[workspace_items] ADD  CONSTRAINT [DF_WorkspaceItems_PathIds]  DEFAULT ('/') FOR [PathIds]
GO
ALTER TABLE [ws].[workspace_items] ADD  CONSTRAINT [DF_WorkspaceItems_PathDepth]  DEFAULT ((0)) FOR [PathDepth]
GO
ALTER TABLE [ws].[workspaces] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [auth].[refresh_tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [urm].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[entity_hashtags]  WITH CHECK ADD  CONSTRAINT [FK_entity_hashtags_hashtag] FOREIGN KEY([hashtag_id])
REFERENCES [dbo].[hashtags] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[entity_hashtags] CHECK CONSTRAINT [FK_entity_hashtags_hashtag]
GO
ALTER TABLE [dbo].[files]  WITH CHECK ADD  CONSTRAINT [FK_files_users_user_id] FOREIGN KEY([user_id])
REFERENCES [urm].[users] ([id])
GO
ALTER TABLE [dbo].[files] CHECK CONSTRAINT [FK_files_users_user_id]
GO
ALTER TABLE [dbo].[hashtags]  WITH CHECK ADD  CONSTRAINT [FK_hashtags_user] FOREIGN KEY([user_id])
REFERENCES [urm].[users] ([id])
GO
ALTER TABLE [dbo].[hashtags] CHECK CONSTRAINT [FK_hashtags_user]
GO
ALTER TABLE [dbo].[Keywords]  WITH CHECK ADD  CONSTRAINT [FK_Keywords_Users] FOREIGN KEY([UserId])
REFERENCES [urm].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Keywords] CHECK CONSTRAINT [FK_Keywords_Users]
GO
ALTER TABLE [dbo].[notes]  WITH CHECK ADD  CONSTRAINT [FK_notes_user] FOREIGN KEY([user_id])
REFERENCES [urm].[users] ([id])
GO
ALTER TABLE [dbo].[notes] CHECK CONSTRAINT [FK_notes_user]
GO
ALTER TABLE [kws].[folders]  WITH CHECK ADD  CONSTRAINT [FK_kfolders_user] FOREIGN KEY([user_id])
REFERENCES [urm].[users] ([id])
GO
ALTER TABLE [kws].[folders] CHECK CONSTRAINT [FK_kfolders_user]
GO
ALTER TABLE [kws].[workspace_items]  WITH CHECK ADD  CONSTRAINT [FK_kwi_parent] FOREIGN KEY([parent_id])
REFERENCES [kws].[workspace_items] ([id])
GO
ALTER TABLE [kws].[workspace_items] CHECK CONSTRAINT [FK_kwi_parent]
GO
ALTER TABLE [kws].[workspace_items]  WITH CHECK ADD  CONSTRAINT [FK_kwi_workspace] FOREIGN KEY([workspace_id])
REFERENCES [kws].[workspaces] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [kws].[workspace_items] CHECK CONSTRAINT [FK_kwi_workspace]
GO
ALTER TABLE [kws].[workspaces]  WITH CHECK ADD  CONSTRAINT [FK_kworkspaces_user] FOREIGN KEY([user_id])
REFERENCES [urm].[users] ([id])
GO
ALTER TABLE [kws].[workspaces] CHECK CONSTRAINT [FK_kworkspaces_user]
GO
ALTER TABLE [log].[log]  WITH CHECK ADD  CONSTRAINT [FK_log_log_track] FOREIGN KEY([track_id])
REFERENCES [log].[track] ([id])
GO
ALTER TABLE [log].[log] CHECK CONSTRAINT [FK_log_log_track]
GO
ALTER TABLE [pro].[project]  WITH CHECK ADD  CONSTRAINT [FK_project_workspace] FOREIGN KEY([workspace_id])
REFERENCES [ws].[workspaces] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [pro].[project] CHECK CONSTRAINT [FK_project_workspace]
GO
ALTER TABLE [pro].[task]  WITH CHECK ADD  CONSTRAINT [fk_task_folder_workspace_item] FOREIGN KEY([FolderWorkspaceItemId])
REFERENCES [ws].[workspace_items] ([id])
GO
ALTER TABLE [pro].[task] CHECK CONSTRAINT [fk_task_folder_workspace_item]
GO
ALTER TABLE [pro].[task]  WITH CHECK ADD  CONSTRAINT [fk_task_parent] FOREIGN KEY([parent_task_id])
REFERENCES [pro].[task] ([id])
GO
ALTER TABLE [pro].[task] CHECK CONSTRAINT [fk_task_parent]
GO
ALTER TABLE [pro].[task]  WITH CHECK ADD  CONSTRAINT [fk_task_project] FOREIGN KEY([project_id])
REFERENCES [pro].[project] ([id])
GO
ALTER TABLE [pro].[task] CHECK CONSTRAINT [fk_task_project]
GO
ALTER TABLE [pro].[TaskWorkspaceItem]  WITH CHECK ADD  CONSTRAINT [FK_TaskWorkspaceItem_Task] FOREIGN KEY([TaskId])
REFERENCES [pro].[task] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [pro].[TaskWorkspaceItem] CHECK CONSTRAINT [FK_TaskWorkspaceItem_Task]
GO
ALTER TABLE [pro].[TaskWorkspaceItem]  WITH CHECK ADD  CONSTRAINT [FK_TaskWorkspaceItem_WorkspaceItem] FOREIGN KEY([WorkspaceItemId])
REFERENCES [ws].[workspace_items] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [pro].[TaskWorkspaceItem] CHECK CONSTRAINT [FK_TaskWorkspaceItem_WorkspaceItem]
GO
ALTER TABLE [urm].[user_profiles]  WITH CHECK ADD  CONSTRAINT [FK_user_profiles_user] FOREIGN KEY([user_id])
REFERENCES [urm].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [urm].[user_profiles] CHECK CONSTRAINT [FK_user_profiles_user]
GO
ALTER TABLE [ws].[folders]  WITH CHECK ADD  CONSTRAINT [FK_folders_user] FOREIGN KEY([user_id])
REFERENCES [urm].[users] ([id])
GO
ALTER TABLE [ws].[folders] CHECK CONSTRAINT [FK_folders_user]
GO
ALTER TABLE [ws].[workspace_items]  WITH CHECK ADD  CONSTRAINT [FK_workspace_items_parent] FOREIGN KEY([parent_id])
REFERENCES [ws].[workspace_items] ([id])
GO
ALTER TABLE [ws].[workspace_items] CHECK CONSTRAINT [FK_workspace_items_parent]
GO
ALTER TABLE [ws].[workspace_items]  WITH CHECK ADD  CONSTRAINT [FK_workspace_items_workspace] FOREIGN KEY([workspace_id])
REFERENCES [ws].[workspaces] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [ws].[workspace_items] CHECK CONSTRAINT [FK_workspace_items_workspace]
GO
ALTER TABLE [ws].[workspaces]  WITH CHECK ADD  CONSTRAINT [FK_workspaces_user] FOREIGN KEY([user_id])
REFERENCES [urm].[users] ([id])
GO
ALTER TABLE [ws].[workspaces] CHECK CONSTRAINT [FK_workspaces_user]
GO
ALTER TABLE [kws].[workspace_items]  WITH CHECK ADD  CONSTRAINT [CK_kwi_MaxDepth] CHECK  (([PathDepth]<=(10)))
GO
ALTER TABLE [kws].[workspace_items] CHECK CONSTRAINT [CK_kwi_MaxDepth]
GO
ALTER TABLE [ws].[workspace_items]  WITH CHECK ADD  CONSTRAINT [CK_WorkspaceItems_MaxDepth] CHECK  (([PathDepth]<=(10)))
GO
ALTER TABLE [ws].[workspace_items] CHECK CONSTRAINT [CK_WorkspaceItems_MaxDepth]
GO
/****** Object:  StoredProcedure [kws].[sp_DeleteWorkspace]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [kws].[sp_DeleteWorkspace]
    @iv_workspace_ids NVARCHAR(MAX),  -- Comma-separated: '1,2,3'
    @ov_deleted_count INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        CREATE TABLE #WorkspacesToDelete (workspace_id INT PRIMARY KEY);

        INSERT INTO #WorkspacesToDelete (workspace_id)
        SELECT CAST(LTRIM(RTRIM(value)) AS INT)
        FROM STRING_SPLIT(@iv_workspace_ids, ',')
        WHERE LTRIM(RTRIM(value)) <> '';

        -- Thu thập folder_id để xóa kws.folders
        CREATE TABLE #FolderIdsToDelete (folder_id INT PRIMARY KEY);

        INSERT INTO #FolderIdsToDelete (folder_id)
        SELECT DISTINCT wi.entity_id
        FROM [kws].[workspace_items] wi
        INNER JOIN #WorkspacesToDelete w ON w.workspace_id = wi.workspace_id
        WHERE wi.entity_type = 2;

        -- Xóa kws.folders (Notes/Files giữ nguyên)
        DELETE f
        FROM [kws].[folders] f
        INNER JOIN #FolderIdsToDelete d ON d.folder_id = f.id;

        -- Xóa kws.workspaces → CASCADE tự xóa kws.workspace_items
        DELETE w
        FROM [kws].[workspaces] w
        INNER JOIN #WorkspacesToDelete d ON d.workspace_id = w.id;

        SELECT @ov_deleted_count = COUNT(*) FROM #WorkspacesToDelete;

        COMMIT TRANSACTION;

        DROP TABLE #WorkspacesToDelete;
        DROP TABLE #FolderIdsToDelete;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @sev INT            = ERROR_SEVERITY();
        DECLARE @st  INT            = ERROR_STATE();
        RAISERROR(@msg, @sev, @st);
    END CATCH
END
GO
/****** Object:  StoredProcedure [kws].[sp_DeleteWorkspaceItems]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [kws].[sp_DeleteWorkspaceItems]
    @iv_workspace_id  INT,
    @iv_items         NVARCHAR(MAX),  -- JSON: [{"type":2,"id":10}, ...]
    @iv_is_hardDelete BIT = 0,        -- 0=soft delete, 1=hard delete
    @ov_deleted_count INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Parse JSON → (entity_type, entity_id)
        SELECT
            CAST(JSON_VALUE(value, '$.type') AS TINYINT) AS entity_type,
            CAST(JSON_VALUE(value, '$.id')   AS INT)     AS entity_id
        INTO #ItemsInput
        FROM OPENJSON(@iv_items);

        -- Tìm workspace_items.id của root items
        SELECT wi.id AS workspace_item_id
        INTO #RootItemIds
        FROM [kws].[workspace_items] wi
        INNER JOIN #ItemsInput inp
            ON wi.entity_type = inp.entity_type
           AND wi.entity_id   = inp.entity_id
        WHERE wi.workspace_id = @iv_workspace_id;

        -- Validate
        IF (SELECT COUNT(*) FROM #ItemsInput) != (SELECT COUNT(*) FROM #RootItemIds)
        BEGIN
            RAISERROR('One or more items not found in this workspace', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Đệ quy thu thập con cháu qua parent_id → workspace_items.id
        CREATE TABLE #AllItemIds (workspace_item_id INT PRIMARY KEY);
        INSERT INTO #AllItemIds SELECT workspace_item_id FROM #RootItemIds;

        DECLARE @added INT = 1;
        WHILE @added > 0
        BEGIN
            INSERT INTO #AllItemIds (workspace_item_id)
            SELECT wi.id
            FROM [kws].[workspace_items] wi
            INNER JOIN #AllItemIds p ON wi.parent_id = p.workspace_item_id
            WHERE wi.workspace_id = @iv_workspace_id
              AND NOT EXISTS (SELECT 1 FROM #AllItemIds WHERE workspace_item_id = wi.id);
            SET @added = @@ROWCOUNT;
        END

        -- Folders: luôn hard delete kws.folders (như ws version)
        DELETE f
        FROM [kws].[folders] f
        INNER JOIN [kws].[workspace_items] wi ON wi.entity_id = f.id AND wi.entity_type = 2
        INNER JOIN #AllItemIds d ON d.workspace_item_id = wi.id;

        -- Notes (dbo.notes)
        IF @iv_is_hardDelete = 1
            DELETE n
            FROM [dbo].[notes] n
            INNER JOIN [kws].[workspace_items] wi ON wi.entity_id = n.id AND wi.entity_type = 3
            INNER JOIN #AllItemIds d ON d.workspace_item_id = wi.id;
        ELSE
            UPDATE n
            SET n.deleted_at = GETUTCDATE()
            FROM [dbo].[notes] n
            INNER JOIN [kws].[workspace_items] wi ON wi.entity_id = n.id AND wi.entity_type = 3
            INNER JOIN #AllItemIds d ON d.workspace_item_id = wi.id;

        -- Files (dbo.files)
        IF @iv_is_hardDelete = 1
            DELETE f
            FROM [dbo].[files] f
            INNER JOIN [kws].[workspace_items] wi ON wi.entity_id = f.id AND wi.entity_type = 4
            INNER JOIN #AllItemIds d ON d.workspace_item_id = wi.id;
        ELSE
            UPDATE f
            SET f.deleted_at = GETUTCDATE()
            FROM [dbo].[files] f
            INNER JOIN [kws].[workspace_items] wi ON wi.entity_id = f.id AND wi.entity_type = 4
            INNER JOIN #AllItemIds d ON d.workspace_item_id = wi.id;

        -- Hard delete workspace_items rows (luôn xóa mapping)
        DELETE FROM [kws].[workspace_items]
        WHERE id IN (SELECT workspace_item_id FROM #AllItemIds);

        SELECT @ov_deleted_count = COUNT(*) FROM #AllItemIds;

        COMMIT TRANSACTION;

        DROP TABLE #ItemsInput;
        DROP TABLE #RootItemIds;
        DROP TABLE #AllItemIds;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @sev INT            = ERROR_SEVERITY();
        DECLARE @st  INT            = ERROR_STATE();
        RAISERROR(@msg, @sev, @st);
    END CATCH
END
GO
/****** Object:  StoredProcedure [kws].[sp_MoveWorkspaceItems]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [kws].[sp_MoveWorkspaceItems]
    @SourceWorkspaceId INT,
    @Items             NVARCHAR(MAX),  -- JSON: [{"type":2,"id":10}, ...]
    @TargetParentId    INT = NULL,     -- workspace_items.id của parent đích, NULL = root
    @TargetWorkspaceId INT = NULL      -- NULL = same workspace
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @EffectiveTargetWorkspaceId INT = ISNULL(@TargetWorkspaceId, @SourceWorkspaceId);

        -- Parse JSON
        DECLARE @ItemsTable TABLE (entity_type TINYINT, entity_id INT);
        INSERT INTO @ItemsTable (entity_type, entity_id)
        SELECT
            CAST(JSON_VALUE(value, '$.type') AS TINYINT),
            CAST(JSON_VALUE(value, '$.id')   AS INT)
        FROM OPENJSON(@Items);

        -- Tìm workspace_items.id của root items
        CREATE TABLE #RootItemIds (workspace_item_id INT PRIMARY KEY);
        INSERT INTO #RootItemIds (workspace_item_id)
        SELECT wi.id
        FROM [kws].[workspace_items] wi
        INNER JOIN @ItemsTable it
            ON wi.entity_type = it.entity_type
           AND wi.entity_id   = it.entity_id
        WHERE wi.workspace_id = @SourceWorkspaceId
          AND wi.deleted_at IS NULL;

        -- Validate
        IF (SELECT COUNT(*) FROM @ItemsTable) != (SELECT COUNT(*) FROM #RootItemIds)
        BEGIN
            RAISERROR('One or more items not found in source workspace', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Validate target parent
        IF @TargetParentId IS NOT NULL
        BEGIN
            IF NOT EXISTS (
                SELECT 1 FROM [kws].[workspace_items]
                WHERE id = @TargetParentId
                  AND workspace_id = @EffectiveTargetWorkspaceId
                  AND entity_type = 2
                  AND deleted_at IS NULL
            )
            BEGIN
                RAISERROR('Target parent folder not found in target workspace', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END
        END

        -- Đệ quy thu thập toàn bộ cây con
        CREATE TABLE #AllItemIds (
            workspace_item_id INT  PRIMARY KEY,
            is_root           BIT  NOT NULL DEFAULT 0
        );
        INSERT INTO #AllItemIds (workspace_item_id, is_root)
        SELECT workspace_item_id, 1 FROM #RootItemIds;

        DECLARE @added INT = 1;
        WHILE @added > 0
        BEGIN
            INSERT INTO #AllItemIds (workspace_item_id, is_root)
            SELECT wi.id, 0
            FROM [kws].[workspace_items] wi
            INNER JOIN #AllItemIds p ON wi.parent_id = p.workspace_item_id
            WHERE wi.workspace_id = @SourceWorkspaceId
              AND wi.deleted_at IS NULL
              AND NOT EXISTS (SELECT 1 FROM #AllItemIds WHERE workspace_item_id = wi.id);
            SET @added = @@ROWCOUNT;
        END

        -- Update: root items → parent_id mới; tất cả → workspace_id mới
        UPDATE wi
        SET
            wi.workspace_id = @EffectiveTargetWorkspaceId,
            wi.parent_id    = CASE WHEN a.is_root = 1 THEN @TargetParentId ELSE wi.parent_id END,
            wi.updated_at   = GETUTCDATE()
        FROM [kws].[workspace_items] wi
        INNER JOIN #AllItemIds a ON a.workspace_item_id = wi.id;

        DECLARE @ResultCount INT = @@ROWCOUNT;

        COMMIT TRANSACTION;

        DROP TABLE #RootItemIds;
        DROP TABLE #AllItemIds;

        SELECT @ResultCount AS AffectedCount, 'Items moved successfully' AS Message;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        IF OBJECT_ID('tempdb..#RootItemIds') IS NOT NULL DROP TABLE #RootItemIds;
        IF OBJECT_ID('tempdb..#AllItemIds')  IS NOT NULL DROP TABLE #AllItemIds;

        DECLARE @ErrorMessage  NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT            = ERROR_SEVERITY();
        DECLARE @ErrorState    INT            = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [ws].[sp_DeleteWorkspace]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- sp_DeleteWorkspace - Hard delete workspace with cascade
-- Author: SuperApp Team
-- Created: 2025-12-07
-- Modified: 2025-12-24 - Removed soft delete support (use Upsert API for soft delete)
--                        Only delete workspace + folders + workspace_items
-- Description:
--   Hard deletes workspace(s), workspace_items mapping, and folders.
--   Notes and Files are NOT deleted to preserve data - they can be
--   accessed directly or re-added to other workspaces later.
--   For soft delete, use the Upsert API with deletedAt timestamp.
-- =============================================
CREATE   PROCEDURE [ws].[sp_DeleteWorkspace]
    @iv_workspace_ids    NVARCHAR(MAX),   -- Comma-separated workspace IDs (e.g., "1,2,3")
    @ov_deleted_count    INT OUTPUT       -- Total workspaces deleted
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        ------------------------------------------------------------
        -- Parse workspace IDs from comma-separated string
        ------------------------------------------------------------
        CREATE TABLE #WorkspacesToDelete (
            workspace_id INT PRIMARY KEY
        );

        INSERT INTO #WorkspacesToDelete (workspace_id)
        SELECT CAST(LTRIM(RTRIM(value)) AS INT)
        FROM STRING_SPLIT(@iv_workspace_ids, ',')
        WHERE LTRIM(RTRIM(value)) <> '';

        ------------------------------------------------------------
        -- Collect ALL items in these workspaces (with hierarchy)
        ------------------------------------------------------------
        CREATE TABLE #AllItemsToDelete (
            item_type TINYINT,
            item_id INT,
            PRIMARY KEY (item_type, item_id)
        );

        -- Get all items from workspace_items (including root and children)
        INSERT INTO #AllItemsToDelete (item_type, item_id)
        SELECT DISTINCT wi.item_type, wi.item_id
        FROM ws.workspace_items wi
        INNER JOIN #WorkspacesToDelete w
            ON w.workspace_id = wi.workspace_id;

        -- Recursively collect all children (folders can have nested children)
        DECLARE @added INT = 1;

        WHILE @added > 0
        BEGIN
            INSERT INTO #AllItemsToDelete (item_type, item_id)
            SELECT DISTINCT wi.item_type, wi.item_id
            FROM ws.workspace_items wi
            INNER JOIN #AllItemsToDelete p
                ON p.item_type = 2  -- Folders (type=2) can have children
               AND p.item_id   = wi.parent_id
            WHERE NOT EXISTS (
                    SELECT 1 FROM #AllItemsToDelete 
                    WHERE item_type = wi.item_type AND item_id = wi.item_id
              );

            SET @added = @@ROWCOUNT;
        END

        ------------------------------------------------------------
        -- DELETE workspace_items mapping (hard delete)
        ------------------------------------------------------------
        DELETE wi
        FROM ws.workspace_items wi
        INNER JOIN #WorkspacesToDelete w
            ON w.workspace_id = wi.workspace_id;

        ------------------------------------------------------------
        -- HARD DELETE: FOLDERS (type = 2)
        -- Note: Only delete folders. Notes and Files are NOT deleted
        -- to preserve data. They can be accessed directly or re-added
        -- to other workspaces.
        ------------------------------------------------------------
        DELETE f
        FROM ws.folders f
        INNER JOIN #AllItemsToDelete d
            ON d.item_type = 2 AND d.item_id = f.id;

        ------------------------------------------------------------
        -- HARD DELETE: WORKSPACES (ws.workspaces)
        ------------------------------------------------------------
        DELETE w
        FROM ws.workspaces w
        INNER JOIN #WorkspacesToDelete d
            ON d.workspace_id = w.id;

        ------------------------------------------------------------
        -- OUTPUT count
        ------------------------------------------------------------
        SELECT @ov_deleted_count = COUNT(*) FROM #WorkspacesToDelete;

        ------------------------------------------------------------
        COMMIT TRANSACTION;

        DROP TABLE #WorkspacesToDelete;
        DROP TABLE #AllItemsToDelete;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @sev INT = ERROR_SEVERITY();
        DECLARE @st INT = ERROR_STATE();

        RAISERROR(@msg, @sev, @st);
    END CATCH
END
GO
/****** Object:  StoredProcedure [ws].[sp_DeleteWorkspaceItems]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ws].[sp_DeleteWorkspaceItems]
    @iv_workspace_id     INT,
    @iv_items            NVARCHAR(MAX),   -- JSON input
    @iv_is_hardDelete    BIT = 0,         -- 0 = soft delete, 1 = hard delete

    @ov_deleted_count    INT OUTPUT       -- output
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        ------------------------------------------------------------
        -- Parse JSON
        ------------------------------------------------------------
        SELECT
            CAST(JSON_VALUE(value, '$.type') AS TINYINT) AS item_type,
            CAST(JSON_VALUE(value, '$.id') AS INT) AS item_id
        INTO #ItemsToDelete
        FROM OPENJSON(@iv_items);

        ------------------------------------------------------------
        -- Validate ownership
        ------------------------------------------------------------
        IF EXISTS (
            SELECT 1
            FROM #ItemsToDelete itd
            LEFT JOIN ws.workspace_items wi
                ON wi.item_type = itd.item_type
               AND wi.item_id   = itd.item_id
            WHERE wi.workspace_id IS NULL OR wi.workspace_id != @iv_workspace_id
        )
        BEGIN
            RAISERROR('Item not found or does not belong to workspace', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        ------------------------------------------------------------
        -- Collect all children recursively
        ------------------------------------------------------------
        CREATE TABLE #AllItemsToDelete (
            item_type TINYINT,
            item_id INT,
            PRIMARY KEY (item_type, item_id)
        );

        INSERT INTO #AllItemsToDelete
        SELECT item_type, item_id FROM #ItemsToDelete;

        DECLARE @added INT = 1;

        WHILE @added > 0
        BEGIN
            INSERT INTO #AllItemsToDelete (item_type, item_id)
            SELECT DISTINCT wi.item_type, wi.item_id
            FROM ws.workspace_items wi
            INNER JOIN #AllItemsToDelete p
                ON p.item_type = 2 
               AND p.item_id   = wi.parent_id
            WHERE wi.workspace_id = @iv_workspace_id
              AND NOT EXISTS (
                    SELECT 1 FROM #AllItemsToDelete 
                    WHERE item_type = wi.item_type AND item_id = wi.item_id
              );

            SET @added = @@ROWCOUNT;
        END

        ------------------------------------------------------------
        -- ALWAYS hard delete workspace_items mapping
        ------------------------------------------------------------
        DELETE wi
        FROM ws.workspace_items wi
        INNER JOIN #AllItemsToDelete d
            ON d.item_type = wi.item_type
           AND d.item_id   = wi.item_id
        WHERE wi.workspace_id = @iv_workspace_id;

        ------------------------------------------------------------
        -- FOLDERS (type = 2) ALWAYS HARD DELETE
        ------------------------------------------------------------
        DELETE f
        FROM ws.folders f
        INNER JOIN #AllItemsToDelete d
            ON d.item_type = 2 AND d.item_id = f.id;

        ------------------------------------------------------------
        -- NOTES (type = 3)
        ------------------------------------------------------------
        IF @iv_is_hardDelete = 1
        BEGIN
            DELETE n
            FROM dbo.notes n
            INNER JOIN #AllItemsToDelete d
                ON d.item_type = 3 AND d.item_id = n.id;
        END
        ELSE
        BEGIN
            UPDATE n
            SET deleted_at = GETUTCDATE()
            FROM dbo.notes n
            INNER JOIN #AllItemsToDelete d
                ON d.item_type = 3 AND d.item_id = n.id;
        END

        ------------------------------------------------------------
        -- FILES (type = 4)
        ------------------------------------------------------------
        IF @iv_is_hardDelete = 1
        BEGIN
            DELETE f
            FROM dbo.files f
            INNER JOIN #AllItemsToDelete d
                ON d.item_type = 4 AND d.item_id = f.id;
        END
        ELSE
        BEGIN
            UPDATE f
            SET deleted_at = GETUTCDATE()
            FROM dbo.files f
            INNER JOIN #AllItemsToDelete d
                ON d.item_type = 4 AND d.item_id = f.id;
        END

        ------------------------------------------------------------
        -- OUTPUT count
        ------------------------------------------------------------
        SELECT @ov_deleted_count = COUNT(*) FROM #AllItemsToDelete;

        ------------------------------------------------------------
        COMMIT TRANSACTION;

        DROP TABLE #ItemsToDelete;
        DROP TABLE #AllItemsToDelete;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @sev INT = ERROR_SEVERITY();
        DECLARE @st INT = ERROR_STATE();

        RAISERROR(@msg, @sev, @st);
    END CATCH
END
GO
/****** Object:  StoredProcedure [ws].[sp_DeleteWorkspaceItems_HARĐELETE]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ws].[sp_DeleteWorkspaceItems_HARĐELETE]
    @WorkspaceId INT,
    @Items NVARCHAR(MAX) -- JSON array of objects: [{"type": 2, "id": 10}, {"type": 3, "id": 25}]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Parse JSON input into temp table
        SELECT
            CAST(JSON_VALUE(value, '$.type') AS TINYINT) AS item_type,
            CAST(JSON_VALUE(value, '$.id') AS INT) AS item_id
        INTO #ItemsToDelete
        FROM OPENJSON(@Items);

        -- Validate items exist and belong to workspace
        IF EXISTS (
            SELECT 1 
            FROM #ItemsToDelete itd
            LEFT JOIN [ws].[workspace_items] wi ON wi.item_type = itd.item_type AND wi.item_id = itd.item_id
            WHERE wi.workspace_id IS NULL OR wi.workspace_id != @WorkspaceId
        )
        BEGIN
            RAISERROR('One or more items not found or do not belong to the specified workspace', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Create temp table for all items to delete (including children)
        CREATE TABLE #AllItemsToDelete (
            item_type TINYINT,
            item_id INT,
            PRIMARY KEY (item_type, item_id)
        );

        -- Insert root items
        INSERT INTO #AllItemsToDelete (item_type, item_id)
        SELECT item_type, item_id FROM #ItemsToDelete;

        -- Recursively get all children (folders can have folders, notes, files as children)
        DECLARE @AddedRows INT = 1;
        WHILE @AddedRows > 0
        BEGIN
            INSERT INTO #AllItemsToDelete (item_type, item_id)
            SELECT DISTINCT wi.item_type, wi.item_id
            FROM [ws].[workspace_items] wi
            INNER JOIN #AllItemsToDelete parent ON parent.item_id = wi.parent_id AND parent.item_type = 2
            WHERE wi.workspace_id = @WorkspaceId
            AND NOT EXISTS (
                SELECT 1 FROM #AllItemsToDelete WHERE item_type = wi.item_type AND item_id = wi.item_id
            );

            SET @AddedRows = @@ROWCOUNT;
        END

        -- Delete workspace_items entries
        DELETE wi
        FROM [ws].[workspace_items] wi
        INNER JOIN #AllItemsToDelete del ON del.item_type = wi.item_type AND del.item_id = wi.item_id
        WHERE wi.workspace_id = @WorkspaceId;

        -- Delete actual entities
        -- Delete folders (item_type = 2)
        DELETE f
        FROM [ws].[folders] f
        INNER JOIN #AllItemsToDelete del ON del.item_type = 2 AND del.item_id = f.id;

        -- Delete notes (item_type = 3)
        DELETE n
        FROM [dbo].[notes] n
        INNER JOIN #AllItemsToDelete del ON del.item_type = 3 AND del.item_id = n.id;

        -- Delete files (item_type = 4) - if files table exists
        -- DELETE f
        -- FROM [ws].[files] f
        -- INNER JOIN #AllItemsToDelete del ON del.item_type = 4 AND del.item_id = f.file_id;

        COMMIT TRANSACTION;

        -- Return count of deleted items
        SELECT COUNT(*) AS DeletedCount FROM #AllItemsToDelete;

        -- Cleanup
        DROP TABLE #ItemsToDelete;
        DROP TABLE #AllItemsToDelete;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Re-throw error
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [ws].[sp_MoveWorkspaceItems]    Script Date: 3/12/2026 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [ws].[sp_MoveWorkspaceItems]
    @SourceWorkspaceId INT,
    @Items NVARCHAR(MAX),           -- JSON: [{"type":2,"id":10}, ...]
    @TargetParentId INT = NULL,     -- NULL = move to root
    @TargetWorkspaceId INT = NULL   -- NULL = same workspace, value = move to other workspace
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Parse JSON items
        DECLARE @ItemsTable TABLE (ItemType TINYINT, ItemId INT);

        INSERT INTO @ItemsTable (ItemType, ItemId)
        SELECT ItemType, ItemId
        FROM OPENJSON(@Items)
        WITH (
            ItemType TINYINT '$.type',
            ItemId INT '$.id'
        );

        -- Validate that items exist in source workspace
        DECLARE @InvalidCount INT;

        SELECT @InvalidCount = COUNT(*)
        FROM @ItemsTable it
        LEFT JOIN ws.workspace_items wi ON wi.workspace_id = @SourceWorkspaceId
            AND wi.item_type = it.ItemType
            AND wi.item_id = it.ItemId
            AND wi.deleted_at IS NULL
        WHERE wi.id IS NULL;

        IF @InvalidCount > 0
        BEGIN
            RAISERROR('One or more items not found in source workspace', 16, 1);
            RETURN;
        END;

        -- Validate target parent exists if provided
        IF @TargetParentId IS NOT NULL
        BEGIN
            IF NOT EXISTS (
                SELECT 1 
                FROM ws.folders 
                WHERE id = @TargetParentId 
                AND deleted_at IS NULL
            )
            BEGIN
                RAISERROR('Target parent folder not found or has been deleted', 16, 1);
                RETURN;
            END;

            -- If moving to different workspace, verify target parent is in target workspace
            IF @TargetWorkspaceId IS NOT NULL AND @TargetWorkspaceId != @SourceWorkspaceId
            BEGIN
                IF NOT EXISTS (
                    SELECT 1 
                    FROM ws.workspace_items 
                    WHERE item_type = 2 
                    AND item_id = @TargetParentId 
                    AND workspace_id = @TargetWorkspaceId
                    AND deleted_at IS NULL
                )
                BEGIN
                    RAISERROR('Target parent folder does not exist in target workspace', 16, 1);
                    RETURN;
                END;
            END;
        END;

        -- Recursive CTE to get all items to move (including children)
        ;WITH ItemsToMove AS (
            -- Selected items (root level of selection)
            SELECT
                wi.id,
                wi.workspace_id,
                wi.item_type,
                wi.item_id,
                wi.parent_id,
                0 AS depth
            FROM ws.workspace_items wi
            INNER JOIN @ItemsTable it ON wi.item_type = it.ItemType AND wi.item_id = it.ItemId
            WHERE wi.workspace_id = @SourceWorkspaceId
                AND wi.deleted_at IS NULL

            UNION ALL

            -- Children (recursive) - only folders can have children
            SELECT
                wi.id,
                wi.workspace_id,
                wi.item_type,
                wi.item_id,
                wi.parent_id,
                parent.depth + 1
            FROM ws.workspace_items wi
            INNER JOIN ItemsToMove parent ON wi.parent_id = parent.item_id
                AND parent.item_type = 2  -- Only folders can be parents
            WHERE wi.workspace_id = @SourceWorkspaceId
                AND wi.deleted_at IS NULL
        ),
        -- Temporary table to store results for conditional logic
        AllItemsToMove AS (
            SELECT * FROM ItemsToMove
        )
        
        -- Store into temp table to use in IF statement
        SELECT * INTO #TempItemsToMove FROM AllItemsToMove;

        -- Determine if this is a same-workspace move or cross-workspace move
        DECLARE @ResultMessage NVARCHAR(500);
        DECLARE @ResultCount INT;

        IF @TargetWorkspaceId IS NULL OR @TargetWorkspaceId = @SourceWorkspaceId
        BEGIN
            -- Same workspace: Update parent_id (simple move)
            -- Only update the root selected items, children will maintain their hierarchy
            UPDATE wi
            SET
                parent_id = @TargetParentId,
                updated_at = GETUTCDATE()
            FROM ws.workspace_items wi
            INNER JOIN @ItemsTable it ON wi.item_type = it.ItemType AND wi.item_id = it.ItemId
            WHERE wi.workspace_id = @SourceWorkspaceId
                AND wi.deleted_at IS NULL;

            SET @ResultCount = @@ROWCOUNT;
            SET @ResultMessage = 'Items moved successfully within workspace';
        END
        ELSE
        BEGIN
            -- Cross-workspace: Delete from source, Create in target
            -- This is more complex as we need to maintain hierarchy

            -- Create a mapping table for old to new workspace_item IDs
            DECLARE @IdMapping TABLE (
                OldId BIGINT,
                NewId BIGINT,
                ItemType TINYINT,
                ItemId INT,
                OldParentId INT,
                Depth INT
            );

            -- Insert items in order of depth (parents first)
            DECLARE @CurrentDepth INT = 0;
            DECLARE @MaxDepth INT;

            SELECT @MaxDepth = MAX(depth) FROM #TempItemsToMove;

            WHILE @CurrentDepth <= @MaxDepth
            BEGIN
                -- Insert items at current depth level
                INSERT INTO ws.workspace_items (workspace_id, parent_id, item_type, item_id, created_at)
                OUTPUT inserted.id, @CurrentDepth, inserted.item_type, inserted.item_id INTO @IdMapping(NewId, Depth, ItemType, ItemId)
                SELECT
                    @TargetWorkspaceId,
                    CASE
                        -- Root selected items go to target folder
                        WHEN itm.depth = 0 THEN @TargetParentId
                        -- Children maintain their parent relationship (mapped to new parent)
                        WHEN itm.parent_id IS NOT NULL THEN (
                            SELECT TOP 1 m.NewId
                            FROM @IdMapping m
                            INNER JOIN #TempItemsToMove p ON p.item_id = m.ItemId AND p.item_type = m.ItemType
                            WHERE p.item_id = itm.parent_id AND p.item_type = 2
                        )
                        ELSE NULL
                    END,
                    itm.item_type,
                    itm.item_id,
                    GETUTCDATE()
                FROM #TempItemsToMove itm
                WHERE itm.depth = @CurrentDepth;

                -- Update mapping with old IDs
                UPDATE m
                SET OldId = itm.id, OldParentId = itm.parent_id
                FROM @IdMapping m
                INNER JOIN #TempItemsToMove itm ON m.ItemType = itm.item_type AND m.ItemId = itm.item_id AND m.Depth = itm.depth
                WHERE m.Depth = @CurrentDepth;

                SET @CurrentDepth = @CurrentDepth + 1;
            END

            -- Delete from source workspace
            DELETE FROM ws.workspace_items
            WHERE id IN (SELECT id FROM #TempItemsToMove);

            SET @ResultCount = @@ROWCOUNT;
            SET @ResultMessage = 'Items moved successfully to target workspace';
        END;

        COMMIT TRANSACTION;

        -- Return result
        SELECT @ResultCount AS AffectedCount, @ResultMessage AS Message;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;

    -- Cleanup temp table
    IF OBJECT_ID('tempdb..#TempItemsToMove') IS NOT NULL
        DROP TABLE #TempItemsToMove;
END
GO
